.cline{
  border-right: thin solid #949494c9;
}
body{
  margin: 0px;
  background-color: #80808052;
}

header{
  margin-left: 0vw;
}
.header-logo{
  background-color: #ffa500ad;
  padding-top: 1vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
  border-bottom: thin solid black;
}
.list-menu{
  background-color: orange;
}
.list-menu1,.list-menu2{
  float: left;
}
.list-menu1,.list-menu2,.list-menu3{
  margin: 0.5vw 1vw;
  border: thin solid gray;
}

.body{
  margin: 1vw 3vw;
  padding: 1vw 3vw;
  background-color: white;
  border: thin solid black;
}
.body-maintitle{
  font-family: sans-serif;
  font-size: 3vw;
  padding-top: 1vw;
  margin-bottom: 1vw;
  border-bottom: thin solid black;
}
.table{
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 1vw 2vw;
  background-color: #80808042;
  border: thin solid black;
}
.table-title{
  color: gray;
  font-size: 2vw;
}
.table-in{
  font-size: 1.5vw;
  padding-left: 1.5vw;
}
.table-in > ol{
  line-height: 1.5em;
}
.body-subtitle{
  font-family: sans-serif;
  margin-top: 1vw;
  padding-left: 1vw;
  border-left: thick solid yellow;
  border-bottom: thin solid yellow;
}
.body-subtitle-in{
  font-size: 2.5vw;
  margin-bottom: 0.5vw;
  padding-left: 0.5vw;
  border-left: thin solid yellow;
}
.body-desc{
  font-size: 1.5vw;
  margin: 1vw 2vw;
  padding: 0.5vw 1vw;
  border-right: thin solid orange;
  border-left: thin solid orange;
}
.body-desc-t{
  font-size: 2vw;
  padding-bottom: 1vw;
}
.aspect-t{
  font-size: 2vw;
}
.aspect-in{
  margin-bottom: 1vw;
  padding-left: 1vw;
  border-left: medium solid orange;
}
.aspect-d{
  padding-left: 1vw;
}
.aspect-v{
  padding-top: 0.3vw;
  padding-left: 2vw;
}
.aspect-v-d{
  margin-left: 1.5vw;
  padding-left: 1vw;
  border-left: thick solid orange;
}
.tips-t{
  font-size: 2vw;
}
.tips-in{
  margin-bottom: 1vw;
  padding-left: 1vw;
  border-left: medium solid orange;
}
.tips-d{
  font-size: 1.5vw;
}
.tips-c-h{
  font-size: 1vw;
  padding: 0.3vw;
  background-color: #7fd3de80;
}
.tips-c-h-t,.tips-c-c-t{
  font-size: 1.5vw;
  padding-top: 0.5vw;
  padding-left: 1vw;
}
.tips-c-h-e,.tips-c-c-e{
  padding-top: 0.5vw;
  padding-left: 1vw;
}
.tips-c-h li,.tips-c-c li{
  border-left: thin solid black;
}
.tips-c-c{
  font-size: 1vw;
  padding: 0.3vw;
  background-color: #8000803b;
}
.tips-r{
  padding-left: 1vw;
  border: thin solid gray;
}
.tips-c-h code,.exa-block code,.aspect-block code{
  font-family: sans-serif;
}
.tips-c-h ol{
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.exa-block{
  margin: 0.5vw 4vw;
  padding: 0.5vw 2vw;
  border: thin solid yellow;
}
.exa-t{
  font-family: Tahoma;
  font-size: 2vw;
  margin-top: 0.5vw;
  margin-right: 20vw;
  margin-bottom: 1vw;
  border-bottom: thin solid yellow;
}
.exa-c-h{
  font-size: 1vw;
  padding: 0.3vw;
  background-color: #7fd3de80;
}
.exa-c-h-t,.exa-c-c-t{
  font-size: 1.5vw;
  padding-top: 0.5vw;
  padding-left: 1vw;
}
.exa-c-h-e,.exa-c-c-e{
  padding-top: 0.5vw;
  padding-left: 1vw;
}
.exa-c-h li,.exa-c-c li{
  border-left: thin solid black;
}
.exa-c-c{
  font-size: 1vw;
  padding: 0.3vw;
  background-color: #8000803b;
}
.exa-r{
  padding-left: 1vw;
  border: thin solid gray;
}

footer{
  background: #0000007a;
  padding: 1vw 2vw;
}
/* ここまで全ページ共通 */


/* Tips,Exa内部専用 */
.exa-r-span{
  color: red;
}
.exa-r-span-claspan{
  font-size: 3vw;
}
